/.env
/.env.local
/.env.local.php
/.env.*.local
/.env.production
/config/secrets/prod/prod.decrypt.private.pem
/config/reference.php
/public/bundles/
/var/
!/var/uploads/
/var/uploads/*
!/var/uploads/.gitkeep
/vendor/
/.idea/
/.DS_Store
*.cache
