/.env
/.env.local
/.env.local.php
/.env.*.local
/.env.production
/vendor/
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php
/database/database.sqlite
/.idea/
/.DS_Store
*.cache
/.phpunit.result.cache

/node_modules
/public/build

**/caddy
frankenphp
frankenphp-worker.php
